body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./assets/backgroundIndex4.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body::after {
  background: rgba(0, 0, 0, 0.7);
}

#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
